<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>编辑留言</h1>
        <form action="/publish" method="POST">
            <div>
                <label for="">您的大名</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="">您的邮箱</label>
                <input type="email" name="email">
            </div>
            <div>
                <label for="">留言内容</label>
                <textarea name="content" id="" cols="30" rows="10"></textarea>
            </div>
            <div>
                <button>点击提交</button>
            </div>
        </form>
</body>
</html>